{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
<div class="brsw-form">
    {{# unless trait_roll.rolls}}
    <div class="brsw-button-row brsw-form">
        <button class="brsw-roll-button">{{ localize 'BRSW.Roll' }}</button>
    </div>
    {{/unless}}
</div>
{{# if trait_roll.rolls }}
    {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
    {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
{{/if}}
{{>"modules/betterrolls-swade2/templates/common_card_footer.html"}}