<div class="brsw-header">
    <img class="brws-actor-img brsw-clickable" src="{{{actor.img}}}">
    <span class="brsw-header-type-text">
        {{header.type}}
    </span>
    <div class="brsw-header-tittle">
        {{# if header.img }}
            <img class="brsw-header-img brsw-clickable" src="{{{header.img}}}">
        {{/if}}
        <span class="brsw-header-txt">
            {{header.title}}
            <i class="brsw-repeat-card fas fa-redo brsw-clickable"></i>
        </span>
    </div>
</div>