<div id="brc-{{ id }}" class="flex flex-row mb-1">
    <div>
        <img class="brws-actor-img w-8 h-8 rounded hover:ring-2 hover:ring-offset-1 hover:cursor-pointer" src="{{{actor.img}}}">
    </div>
    <div class="flex-grow text-center align-middle text-lg">
        <span class="brsw-header-txt">
            {{header.title}}
            <i class="brsw-repeat-card fas fa-redo hover:ring-2 hover:ring-offset-1 hover:cursor-pointer"></i>
        </span>
    </div>
    <div>
        {{# if header.img }}
            <img class="brsw-header-img w-8 h-8 rounded hover:ring-2 hover:ring-offset-1 hover:cursor-pointer" src="{{{header.img}}}">
        {{/if}}
    </div>
</div>
{{# if warning }}
    <div class="m-1 p-1 pl-4 pr-4 text-sm text-red-400 rounded-lg bg-gray-800">
        {{{ warning }}}
    </div>
{{/if}}
{{# if extra_text }}
    <div class="m-1 p-1 pl-4 pr-4 text-sm text-gray-300 rounded-lg bg-gray-800">
        {{{extra_text}}}
    </div>
{{/if}}
