<div class="brsw-form-options">
    <span>
        <label class="brsw-label-options">{{ localize 'BRSW.Modifier' }}</label>
        <input type="number" data-type="modifier" value="" class="brsw-input-options">
    </span><span>
        <label class="brsw-label-options">{{ localize 'BRSW.Target_number' }}</label>
        <input type="number" data-type="tn" value="" class="brsw-input-options">
    </span>
</div>
{{# if show_rof }}<div class="brsw-form-options">
    <span>
        <label class="brsw-label-options">{{ localize 'BRSW.Number_trait_dice' }}</label>
        <input type="number" data-type="rof" value="" class="brsw-input-options">
    </span>
</div>{{/if}}
