{{# each damage_rolls }}
    <div class="brsw-roll-row">
        <span class="brsw-clickable brsw-collapse-button" data-collapse="brsw-damage-detail{{@index}}">
            <i class="fas fa-caret-right"></i>{{ this.label}} :
        </span>
        <span>
            {{#each this.brswroll.rolls}}
                <span class="brsw-damage-roll{{this.extra_class}}">{{ this.result }}</span>
                {{# if this.ap }}<span class="brsw-ap-info" title="{{ localize "SWADE.APLong" }}">
                    ({{ localize "SWADE.Ap" }} {{ this.ap }})
                </span>{{/if}}
            {{/each}}
            {{#if ../bennie_avaliable}}
                <button class="brsw-row-button brsw-damage-bennie-button brsw-form"
                        {{# if this.raise}}id="raise_roll"{{/if}}
                        title="{{ localize 'BRSW.Roll_and_bennie' }}">
                    <img src="{{{ ../benny_image }}}" class="brsw-button-image" alt="Reroll with benny">
                </button>
            {{/if}}
        </span>
        <span class="{{# if ../result_master_only}}brsw-master-only{{/if}}">
            {{#each this.brswroll.rolls}}
                {{# if this.tn }}
                    <span title="{{ this.result_text }}">{{{ this.result_icon }}}</span>
                {{/if}}
                {{# if ../damage_result }}
                    {{# if this.target_id }}
                        <button class="brsw-form brsw-row-button brsw-apply-damage" title="{{ localize "BRSW.ApplyDamage" }}"
                                data-token="{{this.target_id}}" data-damage="{{../damage_result}}">
                            <i class="fas fa-check"></i><i class="fas fa-tint"></i>
                        </button>
                    {{/if}}
                {{/if}}
            {{/each}}
        </span>
    </div>
    <div class="brsw-damage-detail{{@index}} brsw-collapsed">
        <div class="brsw-roll-detail-row">
            <span>
            </span>
            <span>
                <span class="brsw-form brsw-clickable brsw-add-damage-d6"
                            data-index="{{@index}}" title="{{ localize "BRSW.AddD6Damage" }}">
                    <i class="fas fa-plus"></i> <i class="fas fa-dice-six"></i>
                </span>
                <i class="brsw-target-tough brsw-clickable fas fa-bullseye brsw-form" data-index="{{@index}}"
                    title="{{ localize "BRSW.TGTargetSelected"}}"></i>
            </span>
        </div>
        {{#each this.brswroll.dice as |current_dice|}}
            <div class="brsw-roll-detail-row{{ this.extra_class }}">
                <span>{{ this.label }}</span>
                <span>{{#each this.results}}
                    <span class="brsw-d{{current_dice.faces}} brsw-dice-image">{{ this }}</span>
                {{/each}}</span>
            </div>
        {{/each}}
        {{#each this.brswroll.modifiers}}
            <div class="brsw-roll-detail-row{{ this.extra_class }}">
                <span>{{ this.name }}</span>
                <span>
                    {{ this.value }}
                </span>
            </div>
        {{/each}}
        {{#each this.brswroll.rolls}}
            <div class="brsw-damage-calculation">
                {{ localize "SWADE.Tough" }} {{ this.tn }}, {{ localize "SWADE.APLong" }} {{ this.ap }}, {{ localize "SWADE.Armor" }} {{ this.armor }}
            </div>
        {{/each}}
    </div>
{{/each}}