{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
<hr>
<div>
    {{{ text }}}
    <button class="brsw-form brsw-row-button brsw-undo-damage" title="{{ localize "BRSW.UndoDamage" }}">
        <i class="fas fa-undo"></i>
    </button>
</div>
{{# if trait_roll.rolls }}
    {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
    {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
{{ else }}
    {{# if soak_possible }}
        <hr>
        <div class="brsw-button-row brsw-form">
            <button class="brsw-soak-button">
                <img src="{{{ benny_image }}}" class="brsw-button-image brws-soak-benny" alt="Cost bennie"> {{ localize 'BRSW.SoakRoll' }}
            </button>
        </div>
    {{/if}}
{{/if}}
{{# if show_incapacitation }}
    <hr>
    <div class="brsw-button-row brsw-form">
        <button class="brsw-show-incapacitation">
            {{ localize "BRSW.IncapcitationCard" }}
        </button>
    </div>
{{/if}}
{{# if show_injury }}
    <hr>
    <div class="brsw-button-row brsw-form">
        <button class="brsw-injury-button">
            {{ localize 'BRSW.RollInjury' }}
        </button>
    </div>
{{/if}}
{{>"modules/betterrolls-swade2/templates/common_card_footer.html"}}