{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
<hr>
{{# if description }}<div class="brsw-collapse-button brsw-clickable" data-collapse="brsw-item-description">
    <i class="fas fa-caret-right"></i>{{ localize 'BRSW.Description'}}
</div>
<div class="brsw-item-description brsw-collapsed">
    {{{ description }}}
</div>{{/if}}
<div class="brws-attribute-buttons">
    <div class="brws-common-modifiers">
        {{ localize 'BRSW.Modifier' }}:
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="-2">-2</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="-1">-1</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+1">+1</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+2">+2</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+4">+4</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+4">+8</span>
    </div>
</div>
<div class="brsw-button-row">
    <button id="roll-damage" class="brsw-damage-button">{{ localize 'BRSW.Damage' }}</button>
    <button id="roll-raise-damage" class="brsw-button-smaller brsw-damage-button">
        {{ localize 'BRSW.RaiseDamage' }}
    </button>
</div>
{{>"modules/betterrolls-swade2/templates/common_card_footer.html"}}