{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
<hr>
<div>
    {{{ text }}} {{{ text_after }}}
</div>
{{# if trait_roll.rolls }}
    {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
    {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
{{ else }}
    <hr>
    <div class="brsw-button-row brsw-form">
        <button class="brsw-vigor-button brsw-form py-0.5 px-5 mr-2 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700">
            <i class="fas fa-dice"></i> {{ localize 'BRSW.IncapacitationRoll' }}
        </button>
    </div>
{{/if}}
{{# if show_roll_injury }}
    <hr>
    <div class="brsw-button-row brsw-form">
        <button class="brsw-injury-button" data-injury-type="{{ injury_type}}">
            {{ localize 'BRSW.RollInjury' }}
        </button>
    </div>
{{/if}}
{{>"modules/betterrolls-swade2/templates/common_card_footer.html"}}