{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
{{# if notes}}<div class="w-full text-center font-bold">{{{ notes }}}</div>{{/if}}
{{# if skill }}
    <div class="relative flex justify-between">
        <span class="group">
            <span class="text-lg">
                {{ skill_title }}
            </span>
            {{# if skill.system.description }}
                <div class="w-52 collapse h-0 absolute group-hover:visible group-hover:h-auto px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm" role="tooltip">
                    {{{ skill.system.description }}}
                </div>
            {{/if}}
        </span>
        {{# if ammo }}
            <span>
                <span class="brws-common-modifiers brsw-form flex">
                    <span class="brws-selectable brsw-ammo-toggle {{#if subtract_selected}}brws-permanent-selected{{/if}} m-1 border border:bg-red-700 text-white text-sm font-medium px-2.5 py-0.5 rounded hover:ring-2 hover:ring-offset-1 hover:cursor-pointer">
                        {{ localize 'BRSW.SubtractAmmo' }}
                    </span>
                    <img src="modules/betterrolls-swade2/assets/cycle.svg" alt="reload"
                         title="{{ localize 'BRSW.ManualAmmo' }}" class="w-6 brsw-ammo-manual cursor-pointer bg-transparent border border-slate-400 m-1 rounded hover:ring-2 hover:ring-offset-1 hover:invert">
                </span>
            </span>
        {{/if}}
    </div>
    {{# if powerpoints}}
        <div class="brws-common-modifiers brsw-form">
            <span class="brws-selectable brsw-clickable brsw-pp-toggle {{#if subtract_pp}}brws-selected {{/if}}">
                {{ localize 'BRSW.SubtractPP' }}
            </span>
            <span class="brsw-false-button brsw-clickable brsw-pp-manual">
                {{ localize 'BRSW.ManualPP' }}
            </span>
        </div>
    {{/if}}
    {{>"modules/betterrolls-swade2/templates/actions_partial.html"}}
    <div class="brsw-button-row">
        {{# unless trait_roll.is_rolled}}
            <button class="brsw-roll-button brsw-form">{{ localize 'BRSW.Roll' }}</button>
        {{/unless}}
    </div>
    {{# if trait_roll.is_rolled }}
        {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
        {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
    {{/if}}
{{/if}}
{{# if swade_templates }}
    <div class="brsw-form brsw-button-row brsw-form-options">
        {{# each swade_templates }}
            <button class="brsw-template-button" data-size="{{ this }}"><i class="fas fa-ruler-combined"></i> {{ this }}</button>
        {{/each}}
    </div>
{{/if}}
{{# if damage }}
    <hr>
    <div class="brsw-form brsw-button-row brsw-form-options">
        {{ localize 'BRSW.Damage' }}
        <span>
            <button id="roll-damage" class="brsw-damage-button brsw-form" title="{{ localize 'BRSW.Damage' }}" draggable="true">
                <i class="fas fa-dice"></i>
            </button>
            <button id="roll-raise-damage" class="brsw-damage-button brsw-form" title="{{ localize 'BRSW.RaiseDamage' }}" draggable="true">
                <i class="fas fa-plus"></i><i class="fas fa-dice-six"></i>
            </button>
        </span>
    </div>
    {{>"modules/betterrolls-swade2/templates/damage_partial.html"}}
{{/if}}
{{>"modules/betterrolls-swade2/templates/common_card_footer.html"}}