{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
{{# if notes}}<div class="w-full text-center font-bold">{{{ notes }}}</div>{{/if}}
{{# if skill }}
    <div class="relative flex justify-between">
        <span class="group">
            <span class="text-lg">
                {{ skill_title }}
            </span>
            {{# if skill.system.description }}
                <div class="w-52 opacity-0 collapse h-0 absolute group-hover:visible group-hover:opacity-100 group-hover:h-auto transition-opacity group-hover:delay-500 group-hover:duration-500 px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm"
                     role="tooltip">
                    {{{ skill.system.description }}}
                </div>
            {{/if}}
        </span>
        {{# if ammo }}
            <span>
                <span class="brws-common-modifiers brsw-form flex">
                    <img src="modules/betterrolls-swade2/assets/bullet.svg" alt="ammo" title="{{ localize 'BRSW.SubtractAmmo' }}"
                         class="w-6 brsw-ammo-toggle cursor-pointer border border-solid border-slate-400 m-1 rounded hover:ring-2 hover:ring-offset-1 {{#if subtract_selected}}bg-red-700{{ else }}bg-gray-500{{/if}} hover:bg-gray-900">
                    <img src="modules/betterrolls-swade2/assets/cycle.svg" alt="reload"
                         title="{{ localize 'BRSW.ManualAmmo' }}" class="w-6 brsw-ammo-manual cursor-pointer bg-transparent border border-slate-400 m-1 rounded hover:ring-2 hover:ring-offset-1 hover:invert">
                </span>
            </span>
        {{/if}}
        {{# if powerpoints}}
            <span class="brws-common-modifiers brsw-form flex">
                <img src="modules/betterrolls-swade2/assets/electric.svg" alt="power point" title="{{ localize 'BRSW.SubtractPP' }}"
                     class="w-6 brsw-pp-toggle cursor-pointer border border-solid border-slate-400 m-1 rounded hover:ring-2 hover:ring-offset-1 {{#if subtract_pp}}bg-red-700{{ else }}bg-gray-500{{/if}} hover:bg-gray-900">
                <img src="modules/betterrolls-swade2/assets/magic-swirl.svg" alt="reload"
                     title="{{ localize 'BRSW.ManualPP' }}" class="w-6 brsw-pp-manual cursor-pointer bg-transparent border border-solid border-slate-400 m-1 rounded hover:ring-2 hover:ring-offset-1 hover:invert">
            </span>
        {{/if}}
    </div>
    {{>"modules/betterrolls-swade2/templates/actions_partial.html"}}
    <div class="brsw-button-row">
        {{# unless trait_roll.is_rolled}}
            <button class="brsw-roll-button brsw-form py-0.5 px-5 mr-2 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700">
                <i class="fas fa-dice"></i> {{ localize 'BRSW.Roll' }}
            </button>
        {{/unless}}
    </div>
    {{# if trait_roll.is_rolled }}
        {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
        {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
    {{/if}}
{{/if}}
{{# if swade_templates }}
    <div class="brsw-form brsw-button-row brsw-form-options">
        {{# each swade_templates }}
            <button class="brsw-template-button py-0.5 px-0.5 mr-1 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700" data-size="{{ this }}"><i class="fas fa-ruler-combined"></i> {{ this }}</button>
        {{/each}}
    </div>
{{/if}}
{{# if has_feet_buttons }}
    <div class="brsw-form brsw-button-row brsw-form-options">
        {{#each macro_buttons}}
            <button class="brsw-macro-button py-0.5 px-0.5 mr-1 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700" data-macro="{{ this.key }}"><i class="fas fa-gear"></i> {{ this.name }}</button>
        {{/each}}
        {{# each resist_buttons }}
            <button class="brsw-resist-button py-0.5 px-0.5 mr-1 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 {{# if ../trait_roll.is_rolled }}hover:text-white hover:bg-gray-700{{/if}}" data-trait="{{this.trait}}" {{#unless ../trait_roll.is_rolled }}disabled{{/unless}}>
                <i class="fa-solid fa-ban"></i> {{ this.name }}
            </button>
        {{/each}}
    </div>
{{/if}}
{{# if damage }}
    <hr>
    <div class="brsw-form brsw-button-row brsw-form-options pt-2">
        {{ localize 'BRSW.Damage' }}
        <span>
            <button id="roll-damage" class="brsw-damage-button brsw-form py-0.5 px-5 mr-2 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700" title="{{ localize 'BRSW.Damage' }}" draggable="true">
                <i class="fas fa-dice"></i>
            </button>
            <button id="roll-raise-damage" class="brsw-damage-button brsw-form py-0.5 px-5 mr-2 mb-2 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700" title="{{ localize 'BRSW.RaiseDamage' }}" draggable="true">
                <i class="fas fa-plus"></i><i class="fas fa-dice-six"></i>
            </button>
        </span>
    </div>
    {{>"modules/betterrolls-swade2/templates/damage_partial.html"}}
{{/if}}
