<form id="brsw-optional-rules">
    <h2>{{ localize "BRSW.OptionalRules" }}</h2>
    <table>
        {{# each rules }}<tr>
            <td>
                <input type="checkbox" name="{{{ this.id }}}"
                    {{#if this.enabled}}checked="checked"{{/if}}>
            </td>
            <td>{{ this.name }}</td>
        </tr>{{/ each}}
        <tr class="form-group">
            <td>
                <label>{{ localize "BRSW.WoundCap" }}</label>
            </td>
            <td class="form-fields">
                <input type="text" name="wound_cap" value="{{ wound_cap}}" data-dtype="Number">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p class="notes">{{ localize "BRSW.WoundCapHint" }}</p>
            </td>
        </tr>
    </table>
    <button type="submit"><i class="far fa-save"></i>{{localize "BRSW.Save"}}</button>
</form>