<section class="brsw-chat-form">
    <h4 class="brsw-collapse-button brsw-clickable" data-collapse="brws-common-modifiers">
        <i class="fas fa-caret-down"></i> {{ localize "BRSW.ChatFormTittle" }}:
    </h4>
    <div class="brws-common-modifiers">
        {{{ localize 'BRSW.TraitModifier' }}}:
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-8">-8</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-4">-4</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-2">-2</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-1">-1</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+1">+1</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+2">+2</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+4">+4</span>
    </div>
    <div class="brws-common-modifiers">
        {{{ localize 'BRSW.Number_trait_dice' }}}:
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="1"
            >1</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="2">2</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="3">3</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="4">4</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="5">5</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="6">6</span>
    </div>
    <div class="brws-common-modifiers">
        {{{ localize 'BRSW.DmgModifier' }}}:
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="-2">-2</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="-1">-1</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+1">+1</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+2">+2</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+4">+4</span>
        <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+8">+8</span>
    </div>
</section>