<section class="brsw-chat-form">
    <h4 class="brsw-collapse-button brsw-clickable" data-collapse="brsw-chat-modifiers-window">
        <i class="fas fa-caret-down"></i> {{ localize "BRSW.ChatFormTittle" }}:
    </h4>
    <div class="brsw-chat-modifiers-window">
        {{# if isGM }}<div class="brws-common-modifiers brws-chat-tab-row">
            <span class="brsw-chat-tab brsw-tab-active brsw-clickable" data-tab="brws-tab-player-mods">Character</span>
            <span class="brsw-chat-tab brsw-clickable" data-tab="brsw-tab-global-mods">Global</span>
        </div>
        <div id="brsw-tab-global-mods" class="brsw-collapsed brsw-tab-content">
            <div class="brws-common-modifiers brsw-gm-modifiers">
                <span id="brsw-mods-GM-label">{{{ localize 'BRSW.MasterModifiers' }}}:</span>
                <span id="brsw-gm-mod--4" class="brsw-clickable brws-selectable" data-type="master-modifier" data-value="-4">-4</span>
                <span id="brsw-gm-mod--2" class="brsw-clickable brws-selectable" data-type="master-modifier" data-value="-2">-2</span>
                <span id="brsw-gm-mod--1" class="brsw-clickable brws-selectable" data-type="master-modifier" data-value="-1">-1</span>
                <span id="brsw-gm-mod-1" class="brsw-clickable brws-selectable" data-type="master-modifier" data-value="1">+1</span>
                <span id="brsw-gm-mod-2" class="brsw-clickable brws-selectable" data-type="master-modifier" data-value="2">+2</span>
                <span id="brsw-gm-mod-4" class="brsw-clickable brws-selectable" data-type="master-modifier" data-value="4">+4</span>
            </div>
        </div>{{/if}}
        <div id="brws-tab-player-mods" class="brsw-tab-content">
            <div class="brws-common-modifiers brsw-player-modifiers">
                <span id="brsw-mods-Trait-label">{{{ localize 'BRSW.TraitModifier' }}}:</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-8">-8</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-4">-4</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-2">-2</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-1">-1</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+1">+1</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+2">+2</span>
                <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+4">+4</span>
            </div>
            <div class="brws-common-modifiers brsw-player-modifiers">
                <span id="brsw-mods-ROF-label">{{{ localize 'BRSW.Number_trait_dice' }}}:</span>
                <span class="brws-selectable brsw-clickable" data-type="rof" data-value="1">1</span>
                <span class="brws-selectable brsw-clickable" data-type="rof" data-value="2">2</span>
                <span class="brws-selectable brsw-clickable" data-type="rof" data-value="3">3</span>
                <span class="brws-selectable brsw-clickable" data-type="rof" data-value="4">4</span>
                <span class="brws-selectable brsw-clickable" data-type="rof" data-value="5">5</span>
                <span class="brws-selectable brsw-clickable" data-type="rof" data-value="6">6</span>
            </div>
            <div class="brws-common-modifiers brsw-player-modifiers">
                <span id="brsw-mods-Damage-label">{{{ localize 'BRSW.DmgModifier' }}}:</span>
                <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="-2">-2</span>
                <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="-1">-1</span>
                <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+1">+1</span>
                <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+2">+2</span>
                <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+4">+4</span>
                <span class="brws-selectable brsw-clickable" data-type="dmg_modifier" data-value="+8">+8</span>
            </div>
        </div>
    </div>
</section>