{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
<hr>
<div>
    {{{ text }}}
</div>
{{# if trait_roll.rolls }}
    {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
    {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
{{ else }}
    <hr>
    <div class="brsw-button-row brsw-form">
        <button class="brsw-spirit-button twbr-py-0.5 twbr-px-5 twbr-mr-2 twbr-mb-2
                twbr-font-medium focus:twbr-outline-none twbr-bg-white twbr-rounded-lg twbr-border
                twbr-border-solid focus:twbr-z-10 focus:twbr-ring-4 focus:twbr-ring-gray-700
                twbr-text-gray-800 twbr-border-gray-600 hover:twbr-text-white hover:twbr-bg-gray-700">
            <i class="fas fa-dice"></i> {{ roll_title }}
        </button>
    </div>
{{/if}}
