<form>
    <nav class="sheet-tabs tabs" data-group="main" aria-role="Form Tab Navigation">
        {{#if isGM}}
        <a class="item active" data-tab="world"><i class="fas fa-globe"></i> {{localize "BRSW.Settings.Tabs.World"}}</a>
        {{/if}}
        <a class="item" data-tab="user"><i class="fas fa-user"></i> {{localize "BRSW.Settings.Tabs.User"}}</a>
    </nav>

    <section class="content">
        <div class="tab active" data-group="main" data-tab="world">
            {{#each world_settings }}
            {{>"modules/betterrolls-swade2/templates/setting_partial.html"}}
            {{/each}}
        </div>

        <div class="tab" data-group="main" data-tab="user">
            {{#each user_settings }}
            {{>"modules/betterrolls-swade2/templates/setting_partial.html"}}
            {{/each}}
        </div>
    </section>

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "BRSW.Settings.Apply"}}</button>
        <button type="button" name="restore-defaults"><i class="far fa-history"></i>{{localize "BRSW.Settings.RestoreDefaults"}}</button>
    </footer>
</form>