{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
<div class="brsw-collapse-button brsw-clickable" data-collapse="brsw-skill-description">
    <i class="fas fa-caret-right"></i>{{ localize 'BRSW.Description' }}
</div>
{{>"modules/betterrolls-swade2/templates/actions_partial.html"}}
<div class="brsw-form">
    {{# unless trait_roll.is_rolled }}
        <div class="brsw-button-row">
            <button class="brsw-roll-button brsw-form">{{ localize 'BRSW.Roll' }}</button>
        </div>
    {{/unless}}
</div>
{{# if trait_roll.is_rolled }}
    {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
    {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
{{/if}}
{{>"modules/betterrolls-swade2/templates/common_card_footer.html"}}
