{{# if trait_roll.old_rolls }}
    <div class="brsw-roll-row">
        <span class="brsw-small-font">{{ localize 'BRSW.OldRoll' }}</span>
        {{# each trait_roll.old_rolls}}
                <span class="brsw-old-roll brsw-clickable" data-index="{{@index}}">{{# each this }}
                    <span class="brsw-d{{this.sides}} brsw-small-dice-image{{this.extra_calss}}">
                        {{ this.result }}
                    </span>
                {{/each}}</span>
        {{/each}}
    </div>
{{/if}}
<div class="brsw-roll-row">
    <span class="brsw-clickable brsw-collapse-button" data-collapse="brsw-roll-detail">
        <i class="fas fa-caret-right"></i>{{ localize 'BRSW.Rolls'}}{{# if trait_roll.modifiers }}(*){{/if}} :
    </span>
    <span>
        {{#each trait_roll.rolls}}
            <span class="brsw-d{{this.sides}} brsw-dice-image{{this.extra_class}}">
                {{ this.result }}
            </span>
        {{/each}}
        {{# if show_rerolls }}
            <button class="brsw-trait-reroll brsw-row-button brsw-roll-button brsw-form" title="{{ localize "BRSW.Free_reroll" }}"><i class="fas fa-redo-alt"></i></button>
            {{#if bennie_avaliable}}
                <button class="brsw-trait-reroll brsw-row-button brsw-roll-button roll-bennie-button brsw-form" title="{{ localize 'BRSW.Roll_and_bennie' }}">
                    <img src="{{{ benny_image }}}" class="brsw-button-image">
                </button>
            {{/if}}
        {{/if}}
    </span>
</div>
<div class="brsw-roll-detail brsw-collapsed">
    <div class="brsw-form">
        <span class="brsw-clickable brsw-add-modifier">
            <i class="fas fa-plus-circle" title="{{ localize 'BRSW.AddModifier' }}"></i>
        </span>
    </div>
    {{#each trait_roll.dice as |current_dice|}}
        <div class="brsw-roll-detail-row{{ this.extra_class }}">
            <span>{{ this.label }}</span>
            <span>{{#each this.results}}
                <span class="brsw-d{{current_dice.faces}} brsw-dice-image">{{ this }}</span>
            {{/each}}</span>
        </div>
    {{/each}}
    {{#each trait_roll.modifiers}}
        <div class="brsw-roll-detail-row{{ this.extra_class }}">
            <span>{{ this.name }}</span>
            <span>
                {{ this.value }}
                <i class="brsw-edit-modifier brsw-clickable fas fa-edit brsw-form" data-index="{{@index}}" data-label="{{this.name}}" data-value="{{this.value}}"></i>
                <i class="brsw-delete-modifier brsw-clickable fas fa-trash brsw-form" data-index="{{@index}}"></i>
            </span>
        </div>
    {{/each}}
</div>