{{# if trait_roll.old_rolls }}
    <div class="brsw-roll-row">
        <span class="brsw-small-font">{{ localize 'BRSW.OldRoll' }}</span>
        {{# each trait_roll.old_rolls}}
                <span class="brsw-old-roll bg-gray-500 border border-solid border-gray-700 rounded shadow hover:ring-2 hover:ring-offset-1 hover:cursor-pointer" data-index="{{@index}}">{{# each dice }}
                    <span class="brsw-small-dice-image {{this.extra_class}}">
                        {{ this.final_total }}
                    </span>
                {{/each}}</span>
        {{/each}}
    </div>
{{/if}}
<div class="my-2 block p-1 bg-gray-500 border border-solid border-gray-700 rounded shadow hover:ring-2 hover:ring-offset-1 hover:cursor-pointer leading-6 brsw-collapse-button" data-collapse="brsw-roll-detail">
    <div class="flex justify-between align-middle">
        <span>
            {{#each trait_roll.current_roll.dice }}
                <a class="mr-2">
                    <span class="{{this.extra_class}} text-xl font-bold inline-block"  title="{{this.result_text}}">
                        {{ this.final_total }} <i class="{{ this.result_icon }} {{# if this.exploded }}fa-bounce{{/if}}"></i>
                    </span>
                </a>
            {{/each}}
        </span>
        {{# if show_rerolls }}<span>
            <button class="brsw-row-button brsw-roll-button brsw-form py-0.5 px-1 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700"
                    title="{{ localize "BRSW.Free_reroll" }}">
                <i class="fas fa-redo-alt"></i>
            </button>
            {{#if bennie_avaliable}}
                <button class="brsw-trait-reroll brsw-row-button brsw-roll-button roll-bennie-button brsw-form py-0.5 px-1 font-medium focus:outline-none bg-white rounded-lg border border-solid focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-800 border-gray-600 hover:text-white hover:bg-gray-700"
                        title="{{ localize 'BRSW.Roll_and_bennie' }}">
                    <img src="{{{ benny_image }}}" class="brsw-button-image" alt="Bennie re-roll">
                </button>
            {{/if}}
        </span>{{/if}}
    </div>
</div>
<div class="brsw-roll-detail {{# if collapse_rolls }}brsw-collapsed{{/if}}">
    <div class="brsw-form">
        <span class="brsw-clickable brsw-add-modifier">
            <i class="fas fa-plus-circle" title="{{ localize 'BRSW.AddModifier' }}"></i>
        </span>
    </div>
    {{#each trait_roll.current_roll.dice as |current_dice|}}
        <div class="brsw-roll-detail-row text-white {{ this.extra_class }} brsw-override-die hover:ring-2 hover:ring-offset-1 hover:cursor-pointer bg-gray-600 border border-solid border-gray-700 rounded shadow" data-die-index="{{@index}}">
            <span>{{ this.label }}</span>
            <span class="text-black">{{#each this.unexploded }}
                <span class="brsw-d{{current_dice.sides}} brsw-dice-image">{{ this }}</span>
            {{/each}}</span>
        </div>
    {{/each}}
    {{#each trait_roll.modifiers}}
        <div class="brsw-roll-detail-row text-white {{ this.extra_class }} hover:ring-2 hover:ring-offset-1 hover:cursor-pointer bg-gray-600 border border-solid border-gray-700 rounded shadow brsw-edit-modifier" data-index="{{@index}}" data-label="{{this.name}}" data-value="{{this.value}}">
            <span>{{ this.name }}</span>
            <span>
                {{# if this.dice }}
                    <span>{{#each this.dice.terms as |current_term| }}
                        {{# each this.results }}
                            <span class="brsw-d{{current_term.faces}} brsw-dice-image">{{ this.result }}</span>
                        {{/each}}
                    {{/each}}</span>
                {{ else}}
                    <span>
                        {{ this.value }}
                    </span>
                {{/if}}
                <i class="brsw-delete-modifier brsw-clickable fas fa-trash brsw-form" data-index="{{@index}}"></i>
            </span>
        </div>
    {{/each}}
</div>