<div class="brsw-roll-row brsw-clickable brsw-collapse-button" data-collapse="brsw-roll-detail">
    <span><i class="fas fa-caret-right"></i>{{ localize 'BRSW.Rolls'}} :</span>
    <span>
        {{#each trait_roll.rolls}}
            <span class="brsw-d{{this.sides}} brsw-dice-image{{this.extra_class}}">{{ this.result }}</span>
        {{/each}}
    </span>
</div>
<div class="brsw-roll-detail brsw-collapsed">
    {{#each trait_roll.dice as |current_dice|}}
        <div class="brsw-roll-detail-row">
            <span>{{ this.label }}</span>
            <span>{{#each this.results}}
                <span class="brsw-d{{current_dice.faces}} brsw-dice-image">{{ this }}</span>
            {{/each}}</span>
        </div>
    {{/each}}
    {{#each trait_roll.modifiers}}
        <div class="brsw-roll-detail-row">
            <span>{{ this.name }}</span>
            <span>{{ this.value }}</span>
        </div>
    {{/each}}
</div>