{{>"modules/betterrolls-swade/templates/common_card_header.html"}}
<hr>
<div class="brws-attribute-buttons">
    <div class="brws-common-modifiers">
        Common modifiers:
        <span class="brws-selectable" data-type="modifier" data-value="-2">-2</span>
        <span class="brws-selectable" data-type="modifier" data-value="-4">-4</span>
        <span class="brws-selectable" data-type="modifier" data-value="+2">+2</span>
    </div>
    <button id="roll-button">Roll</button>
</div>
{{>"modules/betterrolls-swade/templates/common_card_footer.html"}}