<div class="brws-attribute-buttons">
    <div class="brws-common-modifiers">
        {{ localize 'BRSW.Modifier' }}:
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-4">-4</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-2">-2</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="-1">-1</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+1">+1</span>
        <span class="brws-selectable brsw-clickable" data-type="modifier" data-value="+2">+2</span>
        {{ localize 'BRSW.TN' }}:
        <span class="brws-selectable brsw-clickable" data-type="tn" data-value="8">8</span>
    </div>
</div>
