<header class="card-header">
        {{#if card.image}}<img class="brsw-card-image" src="{{{card.image}}}" alt="roll-image">{{/if}}
        <h3 class="card-name">{{card.title}}</h3>
        <strong class="card-notes">{{card.notes}}</strong>
</header>
<div class="card-content">
    {{#if card.description}}<div class="card-description">
        <div class="collapse-button" data-collapse="text-description"><i class="fas fa-caret-right"></i>Description</div>
        <span class="text-description description-collapsed">{{{card.description}}}</span>
    </div>{{/if}}
    {{#each card.actions}}
        {{# if this.skill_description }}
            <div class="card-description">
                <div class="collapse-button" data-collapse="skill-description"><i class="fas fa-caret-right"></i>Skill description</div>
                <span class="skill-description description-collapsed">{{{this.skill_description}}}</span>
            </div>
        {{/if}}
        <div class="dice-roll">
            <div class="flavor-text">
                {{this.title}}
            </div>
            <div class="dice-result">
                {{#each this.rolls}}
                <div class="dice-tooltip dice-total {{#if this.discarded}}discarded{{/if}}">
                    {{this.result}}
                </div>
                <div class="dice-row red-rolls {{#if this.discarded}}discarded{{/if}}">
                    <div class="dice-tooltip dice-row-item">
                        <div class="dice-tooltip">
                            <div class="dice">
                                {{#each this.dice as |current_dice|}}
                                <p class="part-formula">
                                    {{this.formula}}
                                    <span class="part-total">{{this.total}}</span>
                                </p>
                                <ol class="dice-rolls">
                                    {{#each rolls}}
                                        <li class="roll die d{{current_dice.faces}}
                                                {{#if this.discarded}}discarded{{/if}}
                                                {{#if this.exploded}}exploded{{/if}}">
                                            {{this.roll}}
                                        </li>
                                    {{/each}}
                                </ol>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="dice-row">
                    {{#each this.rolls}}
                    <div class="dice-row-item">
                        <h4 class="dice-total dice-image {{this.extra_classes}}">
                            {{this.total}}
                        </h4>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="collapse-button" data-collapse="results_{{this.id}}">
            <i class="fas {{#if this.collapse_result}}fa-caret-right{{else}}fa-caret-down{{/if}}"></i>
            Results and modifiers
        </div>
        <div class="results_{{this.id}} {{#if this.collapse_result}}description-collapsed{{/if}}">
            {{#if this.modifiers}}<div class="brsw-modifier-row">
                {{#each this.modifiers}}
                    <span class="brsw-modifier {{#if this.positive}}brsw-positive{{/if}}">
                        {{#if this.positive}}+{{/if}}{{this.value}} {{this.reason}}
                    </span>
                {{/each}}
            </div>{{/if}}
            {{#if this.results}}
                {{# if this.fumble}}
                    <div class="brsw-result-roll" data-id-result="{{{this.id_result}}}">
                        <span class="brsw-result brsw-result-fumble">CRITICAL FAILURE!</span>
                    </div>
                {{else}}
                    {{#with this as |action|}}
                        {{#each this.results}}
                            <div class="brsw-result-roll" id="resul-row-{{this.id}}" data-id-result="{{{this.id}}}">
                                <span class="br-modifier-box">
                                    <i class="fas fa-dice-d6"></i>
                                    <input type="number" class="brsw-bar-input" id="roll_result{{{this.id}}}"
                                           value="{{this.total}}" title="Number rolled on dice">
                                    <i class="fas fa-plus"></i>
                                    <input id="modifier{{{this.id}}}" type="number" class="brsw-bar-input"
                                           value="{{action.total_modifiers}}" title="Action modifiers">
                                    <i class="fas fa-crosshairs"></i>
                                    <input id="difficulty{{{this.id}}}" type="number" class="brsw-bar-input"
                                           value="{{action.target_number}}" title="Target number">
                                </span>
                                <span class="brsw-result" id="result{{{this.id}}}">Failure</span>
                            </div>
                        {{/each}}
                    {{/with}}
                {{/if}}
            {{else}}
                {{#if this.damage_results}}
                    {{#with this as |action|}}
                        {{#each this.damage_results}}
                            <div id="resul-row-{{this.id}}" data-type="damage">
                                <div class="brsw-result-roll"
                                        data-id-result="{{{this.id}}}" data-type="damage">
                                    <span class="brsw-modifier-box">
                                        <i class="fas fa-dice-d6"></i>
                                        <input type="number" class="brsw-bar-input" id="roll_result{{{this.id}}}"
                                               value="{{this.total}}" title="Number just rolled">
                                        <i class="fas fa-plus"></i>
                                        <input id="modifier{{{this.id}}}" type="number" class="brsw-bar-input"
                                               value="{{action.total_modifiers}}" title="Modifiers">
                                        <i class="fas fa-heart"></i>
                                        <input id="difficulty{{{this.id}}}" type="number" class="brsw-bar-input"
                                               value="{{action.target_toughness}}" title="Total target toughness (including armor)">
                                        <i class="fas fa-shield-alt"></i>
                                        <input id="armor{{{this.id}}}" type="number" class="brsw-bar-input"
                                               value="{{action.target_armor}}" title="Target armor">
                                        <i class="fas fa-fan"></i>
                                        <input id="ap{{{this.id}}}" type="number" class="brsw-bar-input"
                                               value="{{{action.ap}}}" title="Attack armor penetration">
                                    </span>
                                </div>
                                <div class="brsw-damage-result-row" data-type="damage">
                                    <span class="brsw-result-damage" id="result{{{this.id}}}">Failure</span>
                                </div>
                            </div>
                        {{/each}}
                    {{/with}}
                {{/if}}
            {{/if}}
        </div>
    {{/each}}
</div>
{{#if card.bennie_button}}
    <div class="button-bar-brswade">
        <button class="btn-brswade btn-roll cost-benny" data-item-id="{{card.item.id}}"
                data-actor-id="{{card.actor.id}}" data-card-type="{{card.type}}"
                data-extra-notes="Benny reroll" {{{card.overrides_as_data}}}>
            Reroll spending a Benny
        </button>
        <button class="btn-50-brswade btn-roll" data-item-id="{{card.item.id}}"
                data-actor-id="{{card.actor.id}}" data-card-type="{{card.type}}"
                data-extra-notes="Free reroll" {{{card.overrides_as_data}}}>
            Free reroll
        </button>
    </div>
{{/if}}
{{#if card.damage_button}}
    <div class="button-bar-brswade">
        <button class="btn-50-brswade btn-roll" data-item-id="{{card.item.id}}"
                data-actor-id="{{card.actor.id}}" {{{card.overrides_as_data}}} data-card-type="damage">
            Damage
        </button>
        <button class="btn-50-brswade btn-roll" data-item-id="{{card.item.id}}"
                data-actor-id="{{card.actor.id}}" {{{card.overrides_as_data}}} data-card-type="raise_damage">
            Raise damage
        </button>
    </div>
{{/if}}
{{# if card.footer}}
<div class="card-footer">
    {{# each card.footer}}
        <span>{{this}}</span>
    {{/each}}
</div>
{{/if}}
