<header class="card-header">
        <h3 class="card-name">{{title}}</h3>
        <strong class="card-notes">{{notes}}</strong>
</header>
<div class="card-content">
    {{#if description}}<div class="card-description">
        <span class="collapse-button"><i class="fas fa-caret-right"></i>Description</span>
        <span class="text-description description-collapsed">{{{description}}}</span>
    </div>{{/if}}
    {{#each parts}}
        <div class="dice-roll">
            <div class="flavor-text">
                {{this.roll_title}}
            </div>
            <div class="dice-result">
                {{#each rolls}}
                <div class="dice-tooltip dice-total {{#if this.discarded}}discarded{{/if}}">
                    {{this.result}}
                </div>
                <div class="dice-row red-rolls {{#if this.discarded}}discarded{{/if}}">
                    <div class="dice-tooltip dice-row-item">
                        <div class="dice-tooltip">
                            <div class="dice">
                                {{#each this.dice as |current_dice|}}
                                <p class="part-formula">
                                    {{this.formula}}
                                    <span class="part-total">{{this.total}}</span>
                                </p>
                                <ol class="dice-rolls">
                                    {{#each rolls}}
                                        <li class="roll die d{{current_dice.faces}}
                                                {{#if this.discarded}}discarded{{/if}}
                                                {{#if this.exploded}}exploded{{/if}}">
                                            {{this.roll}}
                                        </li>
                                    {{/each}}
                                </ol>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="dice-row red-totals">
                    {{#each rolls_accepted}}
                    <h4 class="dice-total red-base-die dice-row-item">
                        {{this.total}}
                    </h4>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{#if bennies_available}}
    <div class="button-bar-brswade">
        <button class="btn-brswade btn-roll cost-benny" data-item-id="{{item_id}}"
                data-actor-id="{{actor_id}}" data-card-type="{{card_type}}">
            Reroll spending a bennie
        </button>
    </div>
{{/if}}
{{#if damage_buttons}}
    <div class="button-bar-brswade">
        <button class="btn-50-brswade btn-roll" data-item-id="{{item_id}}"
                data-actor-id="{{actor_id}}" data-card-type="generate_damage_card">
            Damage
        </button>
        <button class="btn-50-brswade btn-roll" data-item-id="{{item_id}}"
                data-actor-id="{{actor_id}}" data-card-type="generate_damage_and_raise_card">
            Raise damage
        </button>
    </div>
{{/if}}
