<div class="red-full chat-card">
    <header class="card-header flexrow red-header">
        <h3 class="item-name">{{title}}</h3>
    {{#if description}}
        <div>
            {{{description}}}
        </div>
    {{/if}}
    </header>
    <div class="card-content">
        {{#each parts}}
            <div class="dice-roll">
                <div class="flavor-text">
                    {{this.roll_title}}
                </div>
                <div class="dice-result">
                    {{#each rolls}}
                    <div class="dice-tooltip dice-total {{#if this.discarded}}discarded{{/if}}">
                        {{this.result}}
                    </div>
                    <div class="dice-row red-rolls {{#if this.discarded}}discarded{{/if}}">
                        <div class="dice-tooltip dice-row-item">
                            <div class="dice-tooltip">
                                <div class="dice">
                                    {{#each this.dice as |current_dice|}}
                                    <p class="part-formula">
                                        {{this.formula}}
                                        <span class="part-total">{{this.total}}</span>
                                    </p>
                                    <ol class="dice-rolls">
                                        {{#each rolls}}
                                            <li class="roll die d{{current_dice.faces}}
                                                    {{#if this.discarded}}discarded{{/if}}
                                                    {{#if this.exploded}}exploded{{/if}}">
                                                {{this.roll}}
                                            </li>
                                        {{/each}}
                                    </ol>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="dice-row red-totals">
                        {{#each rolls_accepted}}
                        <h4 class="dice-total red-base-die dice-row-item">
                            {{this.total}}
                        </h4>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if show_buttons}}<div class="button-bar-brswade">
        {{#if bennies_available}}
            <button class="btn-brswade btn-reroll" data-item-id="{{item_id}}" data-actor-id="{{actor_id}}">Reroll spending a bennie</button>
        {{/if}}
        {{#if damage_buttons}}
            <button class="btn-50-brswade btn-damage" data-item-id="{{item_id}}" data-actor-id="{{actor-id}}">Damage</button>
            <button class="btn-50-brswade btn-damage-raise" data-item-id="{{item_id}}" data-actor-id="{{actor-id}}">Raise damage</button>
        {{/if}}
    </div>{{/if}}
</div>
