{{>"modules/betterrolls-swade/templates/common_card_header.html"}}
<hr>
<div class="brsw-collapse-button brsw-clickable" data-collapse="brsw-skill-description">
    <i class="fas fa-caret-right"></i>{{ localize 'BRSW.Description'}}
</div>
<div class="brsw-skill-description brsw-collapsed">
    {{ description }}
</div>
{{>"modules/betterrolls-swade/templates/common_options.html"}}
<div class="brws-attribute-buttons">
    <div class="brws-common-modifiers">
        {{ localize 'BRSW.Number_trait_dice' }}:
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="2">2</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="3">3</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="4">4</span>
        <span class="brws-selectable brsw-clickable" data-type="rof" data-value="5">5</span>
    </div>
</div>
<div>
    <div class="brsw-collapse-button brsw-clickable" data-collapse="brsw-complete-form-options">
        <i class="fas fa-caret-right"></i>{{ localize 'BRSW.More_options'}}
    </div>
    <div class="brsw-complete-form-options brsw-collapsed">
        <div class="brsw-form-options">
            {{>"modules/betterrolls-swade/templates/common_more_options.html"}}
        </div>
        <div class="brsw-form-options">
            <span>
                <label class="brsw-label-options">{{ localize 'BRSW.Number_trait_dice' }}</label>
                <input type="number" data-type="rof" value="" class="brsw-input-options">
            </span>
        </div>
    </div>
</div>
<div class="brsw-button-row">
    <button id="roll-button">{{ localize 'BRSW.Roll' }}</button>
    {{#if bennie_avaliable}}
        <button id="roll-bennie-button" class="brsw-button-smaller">{{ localize 'BRSW.Roll_and_bennie' }}</button>
    {{/if}}
</div>
{{>"modules/betterrolls-swade/templates/common_card_footer.html"}}